body{
    font-family:serif;
}
.Container {
overflow: hidden;
}

header{
    background-color: #232732;
    color: #ffffff;
    border-bottom: #BFB367 6px solid;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    grid-row-start:1;
    grid-row-end:2;
    height: auto;
}

header #webname {
    font-weight: bold;
    font-size:36pt;
    color:white;
    float: left;
    margin-left: 50px;
}

header .official  {
    color: #BFB367;
    font-size: 12pt;
    font-weight: bold;
}

header #webname h1{ margin:0;}

header ul{
margin:0;
padding: 0;
}

header li {
display: inline;
padding: 0 20px 0 20px;
}

header a{
    text-decoration: none;
    color: #BFB367;
    text-transform: uppercase;
    font-size:15pt; 
}

header nav{
    float:right;
    padding-right:30px;
}

    
header a:hover {
    color:white;
}
#upperinfo  {
    text-align:center;
    border-bottom: solid 8px #BFB367 ;
    border-right: solid 8px #BFB367 ;
}

#info {
    border-right: solid 8px #BFB367 ;
    border-bottom: solid 8px #BFB367 ;
    font-weight:bold;
}

#official {
    color: #BFB367;
    margin-top: 10%;
    margin-bottom: 5%;
    display:inline;
}
#BlackJack {
    font-size: 40px;
    color: white;
    display:inline;
}
#header{
    display:inline-block;
}    
body{
    margin:0;
}
.container{
    display:grid;
    grid-template-rows:47px 1fr 70px;
    grid-template-columns: repeat(11,1fr);
    min-height: 100vh;
    max-height: 100%;
}
.sort{
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start:2;
    grid-row-end: 4;
    grid-area:2/1/4/3;
    padding:1.5em;
    font-size:1.2rem;
    background-color:#232732;
    border-right:6px solid #BFB367;
    color:#BFB367;
}
.products-search{
    margin-top:1em;
    grid-area:2/3/2/11;
    margin-left: 4%;
}
.search {
    display: block;
    margin-bottom:0.5em;
    margin-top:0.6em;
}

#s {
    margin-left:4%;
    width: 70%;
    height: 30px;
    margin-bottom:1em;
}

#b {
    background-color: #232732;
    color: #BFB367;
    height: 35px;
    font-weight: bold;
    cursor:pointer;
}
#b:disabled,
#b[disabled]
{
    cursor:default;
    color:#ccc;
}
.itemscontainer{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left:6%;
}
.item{
    width:70%;
}
.sort-by-2{
    margin-top:2em;
}
.shop-item{
    border: #BFB367 6px solid;
    width:67%;
    padding:0.5em 0.5em 1em 1em;
    margin-bottom: 1em;
}
.shop-item p{
    margin:0;
}
.shop-item a{
    color:black;
    text-decoration: none;
}
.shop-item a:hover{
    color:#BFB367;
}
@media (max-width: 931px)
{
    .container{
        display:flex;
        flex-direction: column;
    }
    .search{
        margin-top: 5px;
    }
    .sort{
        height:70px;
        padding:0.25em;
        display: flex;
        justify-content: space-between;
        width:100vw;
        margin-top:47px;
        border-bottom: 6px #BFB367 solid;
    }
    .sort-by{
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-top:1em;
        flex-basis:50%;
    }
    .sort-by input{
        margin:0% 3%;
    }
    .sort-by-2{
        margin-top:0;
    }
}
@media (max-width: 892px)
{
    .sort{
        margin-top:85px;
    }
}

.pagination{
    margin-top: 20px;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom:20px;
    width:90%;
    grid-area:3/3/3/11;
    margin:1em 0em;
}
.page{
    font-size:1.25rem;
    font-weight: bold;
    padding:0.2em;
    border:#BFB367 3px solid;
    margin: 0em 0.25em;
    height:auto;
    text-align: center;
}
.page a{
    color:black;
    text-decoration:none;
}

.page:hover{
    background-color: #232732;
    cursor:pointer;
    color:#BFB367;
}    

.page:hover a{
    cursor:pointer;
    color:#BFB367;
}

.dots{
    font-size:2rem;
    margin:0em 0.25em;
    text-align:center;
}

.current{
    background-color: #232732;
    cursor:pointer;
    color:#BFB367;
}