header a{
  color:white;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}
header{
  background:#232732;
  font-weight: bold;
  padding-top:10px;
  min-height:20px;
  padding: 10px;
  margin-top: 0px;
}
header li{
  float:right;
  display:inline;
  padding: 0 20px 0 20px;
  margin-top: 0%;
}
body {
  padding : 0px;
  margin: 0px;
}
.product {
  float: right;
  display: inline;
  margin-top: 6%;
  border: #232732 5px solid;
  border-radius: 5px;
  padding: 3% 5% 5% 5%;
  margin-top:54px;
  margin-left: 10%;
  margin-bottom: 15%;
  margin-right: 15%;
}
#x {
  display: inline;
}
img{
  margin-top:50px;
}
#productimage {
  width : 500px;
  height: 500px;
  margin-top: 5%;
  margin-left: 5%;
  border-radius: 10px;
  display: inline;
}
h1 {
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10%;
}
h4 {
  display: inline-block;
}
#CO {
  margin-left: 9%;
  background-color: #232732;
  color: white;
}
input[type="text"] {
background-color: #232732;
color: white;
}
.cart {
  display: block;
  background-color: #232732;
  margin-bottom: 10%;
  height: 35px;
  width: 300px;
  color: white;
  font-weight: bold;

}
.wl {
  display: block;
  background-color: #F3A04A;
}
#i {
  color: red;
  display: inline;
  background-color: #232732;
}
.v {
  display:inline-block;
  border: black 2px solid;
  margin: 10px;
  width: 250px;
}
.Related {
  margin-left: 15%;
}
.re {
  width: 250px;
  height: 100px;
}
h3 {
  margin-left: 38%;
}
h5 {
  text-align: center;
  font-weight: bold;
}
.art {
  display: block;
  background-color: #232732;
  margin-bottom: 10%;
  height: 35px;
  width: 150px;
  margin-left: 20%;
  color: white;
  font-weight: bold;
}
.rating {
    display: inline-block;
    flex-direction:row-reverse;
    justify-content: center;
    width: 160px;
}

.rating>input {
    display: none;
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 2vw;
    color: #232732;
    cursor: pointer;
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}
h2 {
   display: block;
   margin-top: 10%;
   margin-bottom: 0px;
}
h6 {
  font-size: 25px;
  margin: 0;
}
.Dis {
  display:inline-block;
  border: black 2px solid;
}
.Rev {
  display:inline-block;
  border-bottom: black 2px solid;
    border-left: black 2px solid;
      border-right: black 2px solid;
  margin-left: 40%;
}
textarea {
  margin-left: 0%;
  width: 300px;
  height: 150px;
}
span {
  font-size: 40px;
  color: white;
  display:inline-block;
}
h8 {
  color: #BFB367;
  margin-top: 10%;
}
.cart2 {
  display: block;
  background-color: #232732;
  margin-bottom: 10%;
  height: 35px;
  width: 300px;
  color: white;
  font-weight: bold;
  margin-left: 1%;
}
ii {
  display :inline-block;
}
