{% extends 'products/layout.html' %}
{% load mathfilters %}
{% block title %} Results {% endblock %}
{% block head %}
<link rel="stylesheet" href="../../static/users/wishlist.css">
<link rel="stylesheet" href="../../static/search/searchResults.css">
{% endblock %}
{% block body %}
<div class="container">
<header>
    <div class="Container">
        <div id="header">
        <span id="BlackJack">BlackJack</span>
        <span id="official">The Official online store </span>
    </div>
   
<nav> <ul style="margin-top:12px;"> 
    <li> <a href="{% url 'home' %}"> Home </a> </li>
    <li> <a href="{% url 'userdashboard' %}"> Profile </a></li>
    <li> <a href="{% url 'contactus' %}"> Contact Us </a></li>
    {% if user.is_authenticated %}
    <li> <a href="{% url 'logout' %}">  Logout  </a> </li>
    {% else %}
    <li> <a href="{% url 'login' %}">  Login  </a> </li>
    {% endif %}
</ul> </nav>
    </div>
</header>
    <div class="sort">
            <div class="sort-by">
                Search for:<br>
                <input form="search-form" type="radio" id="products" name="search_for" value="products" checked="checked">
                <label for="products">Products</label><br>
                <input form="search-form" type="radio" id="shops" name="search_for" value="shops">
                <label for="shops">Shops</label><br>
            </div>
            <div class="sort-by sort-by-2">
                Sort by:<br>
                <input form="search-form" type="radio" id="name" name="sort_by" value="name" checked="checked">
                <label for="name">Name</label><br>
                <input form="search-form" type="radio" id="price"name="sort_by" value="price">
                <label for="price">Price</label><br>
            </div>
        </div>
    <div class="products-search">
        <form method="GET" action="{% url 'search' %}" id="search-form">
            <div class="search">
            <input type="text" name="search_name" id="s" placeholder="What are you looking for ?">
            <button type="submit" id="b">Search</button>
            </div>
        </form>
    {% if is_products_search %}
    {% if results %}
    <div id="items">
        <div class="itemscontainer">
            {% for result in results %}
            <div class="item" title="{{ result.name }}">
                <img src="{{ result.image.url }}" height="135" width="135"> 
                <p style="font-size:25px; font-weight:bold; position:relative; top:5px;"><a href="{% url 'productpage' result.id %}">Product name : {{ result.name }}</a></p>
                <p><span style="font-weight:bold;">Sold By: </span>{{ result.shop.name }}</p>
                <p><span style="font-weight:bold;">Price : </span> {{result.price|mul:currency_ratio|floatformat:2}}{{currency_symbol}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <p style="text-align: center; font-size: 4rem;">No products found!</p>
    {% endif %}
    {% else %}
    {% if results%}
    <div id="items">
        <div class="itemscontainer">
            {% for result in results %}
            <div class="shop-item" title="{{ result.name }}">
                <!-- <p style="font-size:25px; font-weight:bold; position:relative; top:5px;"><a href="{% url 'shop' result.name %}">Product name : {{ result.name }}</a></p>
                <p><span style="font-weight:bold;">Shop address: </span>{{ result.address }}</p> -->
                <p style="font-size:25px; margin-bottom: 0.5em; font-weight:bold; position:relative; top:5px;"><a href="{% url 'shop' result.name %}">Shop name : {{ result.name }}</a></p>
                
                <p><span style="font-weight: bold;">Shop address: </span>{{result.address}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
        <p style="text-align: center; font-size: 4rem;">No shops found!</p>
    {% endif %}
    {% endif %}
    </div>
    {% if results %}
    <div class="pagination">
        {% if not results.has_previous %}
            {% if not results.paginator.num_pages > 3 %}
                <div class="page">1</div>
                {% if results.paginator.num_pages >= 2 %}
                <div class="page">2</div>
                {% endif %}
                {% if results.paginator.num_pages == 3 %}
                <div class="page">3</div>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
    {% endif %}
</div>
<script>
    var is_products_search="{{is_products_search}}";
    var el_products=document.getElementById("products");
    var el_shops=document.getElementById("shops");
    var block=document.getElementsByClassName("sort-by-2")[0];
    media_query=window.matchMedia("(max-width: 931px)");
    el_products.addEventListener("click",function(){
        if (media_query.matches) 
            block.style.display="flex";
        else
            block.style="block";
    })
    el_shops.addEventListener("click",function(){
        block.style.display="none";
    })
    window.onresize=function() {
        if (media_query.matches)
        {
            if (el_products.checked==true)
                block.style.display="flex";
            else
                block.style.display="none";
        }
        else
        {
            if (el_products.checked==true)
                block.style.display="block";
            else
                block.style.display="none";
        }
    }
    </script>
{% endblock %}