{% extends 'users/layout.html' %}
{% block head %} 
  <title>Cart</title>
  <style>
    #items
   {
     margin-left: 40px;
     overflow: hidden;
    /* position:relative;
    left:40px;
    background-color:white;
    float:left;
    width:715px; */
   }

   .item
   {
    float:left;
    width:700px;
    /* max-height:200px;
    position:relative; */
    background-color:white;
    border:5px solid #BFB367;
    margin:3px;
    
   }
   .item a{
        color:black;
        text-decoration: none;
    }
    .item a:hover{
        color:#BFB367;
    }
   .itemscontainer
   {
    border:navy;
   }

   .item p
    {
        color:#232732;
        font-size:17px;
        position:relative;
        top:17px;
        margin:1px;
    }
    .item img
    {
        float:left;
        height:135px;
        margin-right:5px;
    }
    .total
    {
      font-size:30px;
      font-weight:bold;
      color:#232732;
      width:680px;
      background-color:white;
      border:5px solid #BFB367;
      margin:23px 43px;
      padding-bottom: 10px;
      text-align: center;
    }
    a [href="Cart.html"]
   {
    color:#BFB367;
   }
   .count{
    display:inline;
    bottom:-17px; 
    position:relative; 
    margin-left:2px;
    width:25px;
    margin-bottom: 5px; 
   }
   button:hover,input[type="submit"]:hover{cursor: pointer;}
  </style>
{% endblock %}
{% block body %} 
  <div class="container-1">
    <div class="box" id="upperinfo">
  
      <h1> Cart </h1>
      <p> </p>
  
    </div>

    <div class="box" id="info">
        

        <div id="items">
            <div class="itemscontainer">
                <!-- <div class="item" title="item">
                    <img src="../static/users/No image.jpg"> 
                    <p style="font-size:25px; font-weight:bold; position:relative; top:5px;">Product 1 Name</p>
                    <p><span style="font-weight:bold;">Category: </span> Sweatshirts</p>
                    <p><span style="font-weight:bold;">Color: </span> Red</p>
                    <p><span style="font-weight:bold;">Sold By: </span> GLOW egypt</p>
                    
                    <input type="button" name="-" value="-" class="count">
                    <p style="display:inline;"><span style="font-weight:bold; bottom:10px;">Quantity : </span> 1</p>
                    <input type="button" name="+" value="+" class="count">
                    
                    <p style="float:right;"><span style="font-weight:bold;">Price : </span> 100$</p>
                    
                </div> -->
                
                <!-- <div class="item" title="item">
                    <img src="../static/users/No image.jpg"> 
                    <p style="font-size:25px; font-weight:bold; position:relative; top:5px;">Product 2 Name</p>
                    <p><span style="font-weight:bold;">Category: </span> Sweatshirts</p>
                    <p><span style="font-weight:bold;">Color: </span> Red</p>
                    <p><span style="font-weight:bold;">Sold By: </span> GLOW egypt</p>
                    
                    <input type="button" name="-" value="-" class="count">
                    <p style="display:inline;"><span style="font-weight:bold; bottom:10px;">Quantity : </span> 1</p>
                    <input type="button" name="+" value="+" class="count">
                    
                    <p style="float:right;"><span style="font-weight:bold;">Price : </span> 100$</p>
                    
                </div>
                
                <div class="item" title="item">
                    <img src="../static/users/No image.jpg"> 
                    <p style="font-size:25px; font-weight:bold; position:relative; top:5px;">Product 3 Name</p>
                    <p><span style="font-weight:bold;">Category: </span> Sweatshirts</p>
                    <p><span style="font-weight:bold;">Color: </span> Red</p>
                    <p><span style="font-weight:bold;">Sold By: </span> GLOW egypt</p>
                    
                    <input type="button" name="-" value="-" class="count">
                    <p style="display:inline;"><span style="font-weight:bold; bottom:10px;">Quantity : </span> 1</p>
                    <input type="button" name="+" value="+" class="count">
                    
                    <p style="float:right;"><span style="font-weight:bold;">Price : </span> 100$</p>
                    
                </div>
                
                 <div class="item" title="item">
                    <img src="../static/users/No image.jpg"> 
                    <p style="font-size:25px; font-weight:bold; position:relative; top:5px;">Product 4 Name</p>
                    <p><span style="font-weight:bold;">Category: </span> Sweatshirts</p>
                    <p><span style="font-weight:bold;">Color: </span> Red</p>
                    <p><span style="font-weight:bold;">Sold By: </span> GLOW egypt</p>
                    
                    <input type="button" name="-" value="-" class="count">
                    <p style="display:inline;"><span style="font-weight:bold; bottom:10px;">Quantity : </span> 1</p>
                    <input type="button" name="+" value="+" class="count">
                    
                    <p style="float:right;"><span style="font-weight:bold;">Price : </span> 100$</p>
                    
                </div> -->
                {% for product in products %}
                <div class="item" title="{{ product.name }}">
                  <img src="{{ product.image.url }}" height="135" width="135"> 
                  <p style="font-size:25px; font-weight:bold; position:relative; top:5px;"><a href="{% url 'products:productpage' product.id %}">Product name : {{ product.name }}</a></p>
                  <p><span style="font-weight:bold;">Sold By: </span>{{ product.shop.name }}</p>
                  <button type="button" name="-" id="dec" class="count">-</button>
                    <p style="display:inline;"><span style="font-weight:bold; bottom:10px;">Quantity : </span> <span id="q" name="q">1</span></p>
                    <button type="button" name="+" id="inc" class="count" 
                    {% if q == product.remaininginstock %}
                      disabled="true"
                    {% endif %}
                    >+</button>
                    
                    <p ><span style="font-weight:bold;">Price : </span> {{product.price}}</p>
                    
                </div>
                {% endfor %} 
            </div>
            
        </div>


        <div class="total">
            <p title="total" style="margin-top: 10px;margin-bottom: 0px;"><span>Total :</span>{{sum}}</p>
            <br>
            <p style="font-size:20px;margin-left:5px; font-weight:bold;margin-bottom:4px;margin-top: 0px;">Redeem Coupon <span style="font-size:12px;">(optional)</span></p>
            <input type="text" name="username" placeholder="Place your coupon here" style="display:inline; height:40px; width:240px; margin-left:5px; margin-top:0px;text-align:center;"> 
            <input type="button" name="Submit" value="Submit" style="display:inline; height:45px; width:80px; position:relative; left:5px; font-weight:bold; margin-bottom:20px; ">
            
            <form action="Checkout.html">
            <input type="submit" value="Proceed to checkout" style=" height:40px; width:337px; margin-left:5px; font-weight:bold;">
            </form>
        </div>


    </div>
{% endblock %}


{% block script %}
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var inc = document.getElementById('inc');
        inc.addEventListener('click', function() {
          var q = document.getElementById('q');
          q.innerHTML++;
        });
        var dec = document.getElementById('dec');
        dec.addEventListener('click', function() {
          var q = document.getElementById('q');
          if (q.innerHTML > 0){
            q.innerHTML--;
          }
        });  
      });
    </script>
{% endblock %}