{% extends 'users/layout.html' %}
{% load mathfilters %}
{% block head %} 
  <title>Cart</title>
  <style>
    #items
   {
     overflow: hidden;
    /* position:relative;
    left:40px;
    background-color:white;
    float:left;*/
    width:710px; 
    margin:10px auto 10px auto;

   }

   .item
   {
    width:700px;
    /* max-height:200px;
    position:relative; */
    height:135px;
    background-color:white;
    border:5px solid #BFB367;
    margin:0.5em 0em;
   }
   .item a{
        color:black;
        text-decoration: none;
    }
    .item a:hover{
        color:#BFB367;
    }
   .itemscontainer
   {
    border:navy;
   }

   .item p
    {
        color:#232732;
        font-size:17px;
        position:relative;
        top:17px;
        margin:1px;
    }
    .item img
    {
        float:left;
        height:135px;
        margin-right:5px;
    }
    .total
    {
      font-size:30px;
      font-weight:bold;
      color:#232732;
      width:700px;
      background-color:white;
      border:5px solid #BFB367;
      padding-bottom: 10px;
      text-align: center;
      margin:10px auto 10px auto;

    }
    a [href="Cart.html"]
   {
    color:#BFB367;
   }
   .count{
    display:inline;
    bottom:-17px; 
    position:relative; 
    margin-left:2px;
    width:25px;
    margin-bottom: 5px; 
   }
   button:hover,input[type="submit"]:hover{cursor: pointer;}
   .deactivate{
      width:120px;
      height:30px;
      background-color :#232732;
      font-weight:bold; 
      margin-left:60%;
    }
    .deactivate a{
      color: #BFB367;
      text-decoration: none;
    }
    .deactivate a:hover{
      color: #FFF;
      cursor: pointer;
    }
  </style>
{% endblock %}

{% block name %}Cart{% endblock %}

{% block body %}
  <div id="items">
      <div class="itemscontainer">  
            <!-- <div class="item" title="item">
              <img src="../static/users/No image.jpg"> 
              <p style="font-size:25px; font-weight:bold; position:relative; top:5px;">Product 4 Name</p>
              <p><span style="font-weight:bold;">Category: </span> Sweatshirts</p>
              <p><span style="font-weight:bold;">Color: </span> Red</p>
              <p><span style="font-weight:bold;">Sold By: </span> GLOW egypt</p>
              
              <input type="button" name="-" value="-" class="count">
              <p style="display:inline;"><span style="font-weight:bold; bottom:10px;">Quantity : </span> 1</p>
              <input type="button" name="+" value="+" class="count">
              
              <p style="float:right;"><span style="font-weight:bold;">Price : </span> 100$</p>
              
          </div> --> 
          {% for product in products %}
          <div class="item" title="{{ product.name }}">
            <img src="{{ product.image.url }}" height="135" width="135"> 
            <p style="font-size:25px; font-weight:bold; position:relative; top:5px;"><a href="{% url 'productpage' product.id %}">Product name : {{ product.name }}</a></p>
            <p><span style="font-weight:bold;">Sold By: </span><span class="shopname">{{ product.shop.name }}</span></p>
            <button type="button" name="-" class="count" onclick="dec({{product.name}})">-</button>
              <p style="display:inline;"><span style="font-weight:bold; bottom:10px;">Quantity : </span> <span id="{{product.name}}" name="{{product.name}}" class="q">1</span></p>
              <button type="button" name="+" class="count" onclick="inc({{product.name}}, {{product.remaininginstock}})"
              {% if q == product.remaininginstock %}
                disabled="true"
              {% endif %}
              >+</button>
              
              <p ><span style="font-weight:bold;">Price : <span class="p">{{product.price|mul:currency_ratio|floatformat:2}}</span>{{currency_symbol}}</p>
              <button class="deactivate"><a href="{% url 'removefromcart' product.id %}">Remove</a></button>
              
          </div>
          {% endfor %} 
      </div>
  </div>
      
  <div class="total">
      <p title="total" style="margin-top: 10px;margin-bottom: 0px;">Total :<span id="t"></span>{{currency_symbol}}</p> 
      <br>
      <p style="font-size:20px;margin-left:5px; font-weight:bold;margin-bottom:4px;margin-top: 0px;">Redeem Coupon <span style="font-size:12px;">(optional)</span></p>
      <input type="text" name="username" id="coupon_code" placeholder="Place your coupon here" style="display:inline; height:40px; width:240px; margin-left:5px; margin-top:0px;text-align:center;"> 
      <input type="button" id="add_coupon" name="Submit" value="Submit" 
      {% if len == 0 %}
        disabled="true" style="cursor: no-drop; display:inline; height:45px; width:80px; position:relative; left:5px; font-weight:bold; margin-bottom:20px;"
      {% endif %}
      style="display:inline; height:45px; width:80px; position:relative; left:5px; font-weight:bold; margin-bottom:20px; ">
      <form action="{% url 'create_transaction' %}" method="POST">
        {% csrf_token %}
      <input id="bill" type="hidden" name="total">
      <input id="coupon" type="hidden" name="coupon_code">
      {% for product in products %}
      <input  type="hidden" class="quantity_of_product" name="{{product.id}}_quantity"> 
      {% endfor %}
      <input type="submit" name="proceed_to_checkout" value="Proceed to checkout"
      {% if len == 0 %}
        disabled="true" style="cursor: no-drop; height:40px; width:337px; margin-left:5px; font-weight:bold;"
      {% endif %}
      style=" height:40px; width:337px; margin-left:5px; font-weight:bold;">
      </form>
  </div>
{% endblock %}

{% block script%}
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script src="../static/users/cart.js"></script>
{% endblock %}