{% extends 'users/layout.html' %}

{% block head %} 
  <title>Change password</title>
  <style>
    #info form {
      display:flex;
      flex-direction:column;
      text-align:left;
      margin-left:420px;
      font-size:14pt;
    }
    #info input{
          width :300px;
          margin-top: 20px;
          margin-bottom: 5px;
        }
      
    #info #ChangePassword {
      margin-top:20px;
      margin-left:100px;
      width:100px;
      height:30px;
      background-color :#232732;
      color: #BFB367 ;
      font-weight:bold;
    }
    #ChangePassword:hover
    {
      cursor: pointer;
      color: #FFF;
    }
  </style>
{% endblock %}

{% block name %}Change password{% endblock %}

{% block body %} 

  <form action="" method="POST">
      {% csrf_token %}
      <input type="password" name="old_password"  placeholder="Enter your password">
      <input type="password" name="new_password" placeholder="Enter your new password">
      <input type="password" name="confirm_new_password" placeholder="Confirm your new password">
      <input type="submit" id="ChangePassword" value="Confirm">
  </form>
    
  {% if message %}
  <p>{{ message }}</p>
  {% endif %}

{%endblock%}