{% extends 'users/layout.html' %}

{% block head %}
    <title>Change password</title>
{% endblock %}

{% block body %}
    <body>
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
        <form action="" method="POST">
            {% csrf_token %}
            <input type="password" name="old_password" placeholder="Enter your password">
            <input type="password" name="new_password" placeholder="Enter your new password">
            <input type="password" name="confirm_new_password" placeholder="Confirm your new password">
            <input type="submit" value="Change password">
        </form>
    </body>
{% endblock %}