{% extends 'users/layout.html' %}
{% block head %} 
  <title>Discover shopss</title>
  <style>
    #items
   {
     margin-left: 40px;
     overflow: hidden;
   }

   .item
   {
    float:left;
    width:700px;
    background-color:white;
    border:5px solid #BFB367;
    margin:3px;
    
   }
   .item a{
        color:black;
        text-decoration: none;
    }
    .item a:hover{
        color:#BFB367;
    }
   .itemscontainer
   {
    border:navy;
   }

   .item p
    {
        color:#232732;
        font-size:17px;
        position:relative;
        top:17px;
        margin:1px;
    }
    .item img
    {
        float:left;
        height:135px;
        margin-right:5px;
    }
    .total
    {
      font-size:30px;
      font-weight:bold;
      color:#232732;
      width:680px;
      background-color:white;
      border:5px solid #BFB367;
      margin:23px 43px;
      padding-bottom: 10px;
      text-align: center;
    }
    a [href="Cart.html"]
   {
    color:#BFB367;
   }
   .count{
    display:inline;
    bottom:-17px; 
    position:relative; 
    margin-left:2px;
    width:25px;
    margin-bottom: 5px; 
   }
  </style>
{% endblock %}

{% block name %}Shops{% endblock %}

{% block body %}
  <div id="items">
    <div class="itemscontainer">
        {% for shop in shops %}
        <div class="item" title="{{ shop.name }}"> 
          <h2 style="margin: 5px;"><a href="{% url 'shop' shop.name %}">{{ shop.name }}</a></h2>
          <h4 style="text-align: center;">{{shop.description}}</h4>    
        </div>
        {% endfor %} 
    </div>
  </div>
{% endblock %}
