{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head %}{% endblock %}
        <link rel="stylesheet" href="../static/users/css/layout.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <div class="logo-burger">
                <div class="burgers">
                    <div class="burger burger-one">

                    </div>
                    <div class="burger burger-two">

                    </div>
                    <div class="burger burger-three">

                    </div>
                </div>
                <div class="logo">
                    <span><a id="BlackJack" href="{% url 'home' %}">BlackJack</a></span>
                    <span><a id="official" href="{% url 'home' %}">The Official online store</a> </span>
                </div>
            </div>
            
        <nav> <ul> 
            {% if user.is_authenticated %}
                <li> <a href="{% url 'home' %}"> Home </a> </li>
                <li> <a href="{% url 'userdashboard' %}"> Profile </a></li>
                <li> <a href="{% url 'contactus' %}"> Contact Us </a></li>
                <li> <a href="{% url 'logout' %}">  Logout  </a> </li>
                {% else %}
                <li> <a href="{% url 'home' %}"> Home </a> </li> 
                <li> <a href="{% url 'signup' %}">SignUp</a></li>
                <li> <a href="{% url 'login' %}">  Login  </a> </li>
            {% endif %}
        </ul> </nav>
        </header>
        {% if user.is_authenticated %}
        <section class="sidemenu">
            <span class="dashboard">   DASHBOARD  </span>
            <nav> <ul> 
            <li> <a href="{% url 'userdashboard' %}"> My Account </a>
            {% if user.is_seller %}
            <li> <a href="{% url 'shopdashboard' %}"> My shop </a>
            {% endif %}
            <li> <a href="{% url 'orders' %}"> Orders </a> 
            <li> <a href="{% url 'wishlist' %}"> Wishlist </a>
            <li> <a href="{% url 'cart' %}"> Cart </a> 
        </ul> </nav>
        </section>
        {% endif %}
        
        <main role="main">
            <div id="upperinfo">
          
              <h1>{% block name %} {% endblock %}</h1>
            </div>

            <div id="info">
                {% block body %}
                {% endblock %}
            </div>
        </main>
        <script>
            var menu_open=false
            const sidemenu=document.getElementsByClassName('sidemenu')[0];
            const burgers=document.getElementsByClassName('burgers')[0];
            document.addEventListener('click', function(event){
                if(!sidemenu.contains(event.target) && menu_open && event.target!=burgers && !burgers.contains(event.target)){
                    for(let i=0;i<burgers.children.length;i++)
                    {   
                        burgers.children[i].classList.remove('clicked');
                    }
                    sidemenu.classList.remove('shown');
                    menu_open=false;
                }
            })
            burgers.addEventListener('click', function() {
                if(!menu_open)
                {
                    for(let i=0;i<burgers.children.length;i++)
                    {   
                        burgers.children[i].classList.add('clicked');
                    }
                    sidemenu.classList.add('shown');
                    menu_open=true;
                }
                else
                {
                    for(let i=0;i<burgers.children.length;i++)
                    {   
                        burgers.children[i].classList.remove('clicked');
                    }
                    sidemenu.classList.remove('shown');
                    menu_open=false;
                }
            })
        </script>
    </body>
 
</html>

