{% load mathfilters %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../static/users/home.css"> 
  <link rel="stylesheet" href="../static/users/wishlist.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title> BlackJack Official Page </title>
</head>


<body>
  <div>
  <header>
    <div class="Container">
        <div id="header">
        <span id="BlackJack">BlackJack</span>
        <span id="official">The Official online store </span>
    </div>
    
<nav> <ul style="margin-top:12px;"> 
    <li> <a href="{% url 'home' %}"> Home </a> </li>
    <li> <a href="{% url 'userdashboard' %}"> Profile </a></li>
    <li> <a href="{% url 'contactus' %}"> Contact Us </a></li>
    {% if user.is_authenticated %}
    <li> <a href="{% url 'logout' %}">  Logout  </a> </li>
    {% else %}
    <li> <a href="{% url 'login' %}">  Login  </a> </li>
    {% endif %}
</ul> </nav>
    </div>
</header>
</div>
<form method="GET" action="{% url 'search' %}">
<div class="search">
  <input type="text" name="search_name" id="s" placeholder="What are you looking for ?">
  <input type="hidden" name="sort_by" value="name">
  <input type="hidden" name="search_for" value="products">
  <button type="submit" id="b">Search</button>
</div>
</form>
<div class="head">
    <div class="cathead"><h4><a href="#" id="cur">Clothing</a></h4></div>
    <div class="cathead"><h4><a href="#" >TVs</a></h4></div>
    <div class="cathead"><h4><a href="#" >Electronics</a></h4></div>
    <div class="cathead"><h4><a href="#" >Home Appliances</a></h4></div>
    <div class="cathead"><h4><a href="#" >Furniture</a></h4></div>
    <div class="cathead"><h4><a href="#" >Other</a></h4></div>
    </div>  
<div class="cat">
  <h2>Clothing</h2>
  <br>
  <div id="items">
    <div class="itemscontainer">
        {% for product in displayed.clothing %}
        <div class="item" title="{{ product.name }}">
          <img src="{{ product.image.url }}" height="135" width="135"> 
          <p style="font-size:25px; font-weight:bold; position:relative; top:5px;"><a href="{% url 'productpage' product.id %}">Product name : {{ product.name }}</a></p>
          <p><span style="font-weight:bold;">Sold By: </span>{{ product.shop.name }}</p>
          <p><span style="font-weight:bold;">Price : </span> {{product.price|mul:currency_ratio|floatformat:2}}{{currency_symbol}}</p>
        </div>
        {% endfor %} 
    </div>
  </div>
</div>


<div class="cat">
  <h2>TVs</h2>
  <div id="items">
    <div class="itemscontainer">
        {% for product in displayed.tvs %}
        <div class="item" title="{{ product.name }}">
          <img src="{{ product.image.url }}" height="135" width="135"> 
          <p style="font-size:25px; font-weight:bold; position:relative; top:5px;"><a href="{% url 'productpage' product.id %}">Product name : {{ product.name }}</a></p>
          <p><span style="font-weight:bold;">Sold By: </span>{{ product.shop.name }}</p>
          <p><span style="font-weight:bold;">Price : </span> {{product.price|mul:currency_ratio|floatformat:2}}{{currency_symbol}}</p>
        </div>
        {% endfor %} 
    </div>
  </div>
</div>
<div class="cat">
  <h2>Electronics</h2>
  <div id="items">
    <div class="itemscontainer">
        {% for product in displayed.electronics%}
        <div class="item" title="{{ product.name }}">
          <img src="{{ product.image.url }}" height="135" width="135"> 
          <p style="font-size:25px; font-weight:bold; position:relative; top:5px;"><a href="{% url 'productpage' product.id %}">Product name : {{ product.name }}</a></p>
          <p><span style="font-weight:bold;">Sold By: </span>{{ product.shop.name }}</p>
          <p><span style="font-weight:bold;">Price : </span> {{product.price|mul:currency_ratio|floatformat:2}}{{currency_symbol}}</p>
        </div>
        {% endfor %} 
    </div>
  </div>
</div>


<div class="cat">
  <h2>Home Appliances</h2>
  <div id="items">
    <div class="itemscontainer">
        {% for product in displayed.home_appliances %}
        <div class="item" title="{{ product.name }}">
          <img src="{{ product.image.url }}" height="135" width="135"> 
          <p style="font-size:25px; font-weight:bold; position:relative; top:5px;"><a href="{% url 'productpage' product.id %}">Product name : {{ product.name }}</a></p>
          <p><span style="font-weight:bold;">Sold By: </span>{{ product.shop.name }}</p>
          <p><span style="font-weight:bold;">Price : </span> {{product.price|mul:currency_ratio|floatformat:2}}{{currency_symbol}}</p>
        </div>
        {% endfor %} 
    </div>
  </div>
</div>
<div class="cat">
  <h2>Furniture</h2>
  <div id="items">
    <div class="itemscontainer">
        {% for product in displated.furniture %}
        <div class="item" title="{{ product.name }}">
          <img src="{{ product.image.url }}" height="135" width="135"> 
          <p style="font-size:25px; font-weight:bold; position:relative; top:5px;"><a href="{% url 'productpage' product.id %}">Product name : {{ product.name }}</a></p>
          <p><span style="font-weight:bold;">Sold By: </span>{{ product.shop.name }}</p>
          <p><span style="font-weight:bold;">Price : </span> {{product.price|mul:currency_ratio|floatformat:2}}{{currency_symbol}}</p>
        </div>
        {% endfor %} 
    </div>
  </div>
</div>

<div class="cat">
  <h2>Other</h2>
  <div id="items">
    <div class="itemscontainer">
        {% for product in displayed.other %}
        <div class="item" title="{{ product.name }}">
          <img src="{{ product.image.url }}" height="135" width="135"> 
          <p style="font-size:25px; font-weight:bold; position:relative; top:5px;"><a href="{% url 'productpage' product.id %}">Product name : {{ product.name }}</a></p>
          <p><span style="font-weight:bold;">Sold By: </span>{{ product.shop.name }}</p>
          <p><span style="font-weight:bold;">Price : </span> {{product.price|mul:currency_ratio|floatformat:2}}{{currency_symbol}}</p>
        </div>
        {% endfor %} 
    </div>
  </div>
</div>

<script src="./static/users/home.js"></script>
</body>
</html>
