{% extends 'users/layout.html' %}
{% load mathfilters%}
{% block head %} 
  <title>Orders</title>
  <style>
    #items
   {
     margin-left: 40px;
     overflow: hidden;
   }

   .item
   {
    float:left;
    width:700px;
    background-color:white;
    border:5px solid #BFB367;
    margin:0.9em 3px;
    
   }
   .item a{
        color:black;
        text-decoration: none;
    }
    .item a:hover{
        color:#BFB367;
    }
   .item p
    {
        color:#232732;
        font-size:17px;
        margin-left: 8.5%;
    }
  </style>
{% endblock %}

{% block name %}Orders{% endblock %}

{% block body %}
{% if orders %} 
<div id="items">
  <div class="itemscontainer">        
    {% for order in orders %}
      <div class="item"> 
            {% for product in order.products.all %}
              <ul style="border:2px solid #BFB367; margin:10px; list-style-type:none;">
                <li><a href="{% url 'productpage' product.product.id %}"><span style="font-size: 1.5rem;">Product: </span><span style="font-size:20px;">{{product.product.name}}</span></a></li>
                <li><span style="font-size: 1.5rem;">Quantity: </span> <span style="font-size: 20px;">{{product.quantity}}</span></li>
                <li><span style="font-size: 1.5rem">Total Price after discount: </span><span style="font-size: 20px;">
                {% if order.coupon %}
                  {% if order.coupon.shop %}
                    {% if order.coupon.shop.name == product.product.shop.name%}
                      {{100|sub:order.coupon.discount|div:100|mul:product.product.price|mul:product.quantity}}{{currency_symbol}}
                    {% else %}
                      {{product.product.price|mul:product.quantity}}{{currency_symbol}}
                    {% endif %}
                  {% else %}
                      {{100|sub:order.coupon.discount|div:100|mul:product.product.price|mul:product.quantity}}{{currency_symbol}}
                  {% endif %}
                {% else %}
                    {{product.product.price|mul:product.quantity}}{{currency_symbol}}
                {% endif %}
                </span></li>
              </ul>
              <!-- <ul style="list-style-type: none;">
                <li></li>
              </ul> -->
            {% endfor %}
          <ul style="list-style:none; margin-left:0.8em">
          <li><span style="font-size: 1.5rem;">Status: </span><span style="font-size: 20px;">{% if order.is_delivered %}Delivered{% else %}In progress{% endif %}</span></li>
          {% if order.coupon %}
                {% if order.coupon.shop %}
                  <li><span style="font-size: 1.3rem;"> Coupon used for shop {{order.coupon.shop}} with discount {{order.coupon.discount}}%</span></li>
                {% elif order.type == "user" %}
                  <li> <span style="font-size: 1.3rem;"> User coupon used with discount {{order.coupon.discount}}%</span></li>
                {% else %}
                  <li> <span style="font-size: 1.3rem;"> Event coupon used with discount {{order.coupon.discount}}%</span></li>
                {% endif %}
          {% endif %}
          <li> <span style="font-size: 1.3rem;">Bill: {{order.bill|mul:currency_ratio|floatformat:2}}{{currency_symbol}}</span></li>
          </ul>
      </div>
    {% endfor %} 
  </div>
</div>
{% else %}
<div>
  <p style="font-size:2.5rem; text-align:center">You don't have any orders</p>
</div>
{% endif %}
{% endblock %}