#items
{
  margin-left: 40px;
  overflow: auto;
}

.item{
  float:left;
  width:700px;
  background-color:white;
  border:5px solid #BFB367;
  margin:3px;
}
.item a{
     color:black;
     text-decoration: none;
 }
 .item a:hover{
     color:#BFB367;
 }
.itemscontainer
{
 border:navy;
}

.item p
 {
     color:#232732;
     font-size:17px;
     position:relative;
     top:17px;
     margin:1px;
 }
 .item img
 {
     float:left;
     height:135px;
     margin-right:5px;
 }
 .total
 {
   font-size:30px;
   font-weight:bold;
   color:#232732;
   width:680px;
   background-color:white;
   border:5px solid #BFB367;
   margin:23px 43px;
   padding-bottom: 10px;
   text-align: center;
 }

.count{
 display:inline;
 bottom:-17px; 
 position:relative; 
 margin-left:2px;
 width:25px;
 margin-bottom: 5px; 
}
.deactivate{
   width:120px;
   height:30px;
   background-color :#232732;
   font-weight:bold; 
   margin-left:60%;
   color:#BFB367;
   margin-bottom:0.5em
 }

 .deactivate:hover{
   color: #FFF;
   cursor: pointer;
 }