body {
            margin:0px;
            }
            .Container {
            overflow: hidden;
            }

            header{
            background-color: #232732;
            color: #ffffff;
            border-bottom: #BFB367 6px solid;
            position: fixed;
            top: 0px;
            left: 0px;
            right: 0px;
            z-index: 1;
            }

            header #webname {
            font-weight: bold;
            font-size:36pt;
            color:white;
            float: left;
            margin-left: 50px;

            }

            header .official  {
            color: #BFB367;
            font-size: 12pt;
            font-weight: bold;
            }

            header #webname h1{ margin:0;}

            header ul{
            display: inline-block;
            margin:0;
            padding: 0;
            margin-left: 55%;
            }

            header li {
            display: inline;
            padding: 0 20px 0 20px;
            }

            header a{
            text-decoration: none;
            color: #BFB367;
            text-transform: uppercase;
            font-size:15pt;
            }

            header nav{float:right;
            padding-right:30px;}


            header a:hover {
            color:white;
            }
            #upperinfo  {
              text-align:center;
              border-bottom: solid 8px #BFB367 ;
              border-right: solid 8px #BFB367 ;
                       }

            #info {
              border-right: solid 8px #BFB367 ;
              border-bottom: solid 8px #BFB367 ;
              font-weight:bold;
            }
            #BlackJack {
              font-size: 40px;
              color: white;
              display:inline;
                                   }
            #header{
             display:inline-block;
               }
.art {
  display: block;
  background-color: #232732;
  margin-bottom: 10%;
  height: 35px;
  width: 150px;
  margin-left: 20%;
  color: white;
  font-weight: bold;
}
.re {
  width: 100px;
  height: 150px;
  margin-left: 30%;

}
.v {
  display:inline-block;
  border: #232732 1px solid;
  margin: 0%;
  width: 250px;
}
#main {
  margin-left: 25%;
  margin-top: 1%;
}
.ar {
  background:#232732;
  color:white;
  font-weight: bold;
  font-size: 20px;
  margin-top: 3%;
}
#current {
  background:white;
  color:white;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}
#current a {
  text-decoration: none;
  color: #232732;
}
.ar a {
    text-decoration: none;
    color: white;
}
.but {
  margin-left: 40%;
  margin-bottom: 5%;
}
.search {
  display: inline-block;
  margin-left: 37%;
  margin-bottom: 0%;
  margin-top: 1.5%;
}
#s {
  width: 300px;
  height: 30px;
}
#b {
  background-color: #BFB367;
  color: #232732;
  height: 35px;
  font-weight: bold;
}
h5 a {
  text-decoration: none;
  color: #232732;
}
h5 {
  color: #232732;
  text-align: center;
}
h1 {
  color: #232732;
  text-align: center;
  margin-bottom: 0%;
  margin-top: 2%;
}
h4 {
  display: inline;
  margin-right: 5%;
  margin-top: 5%;

}
.head {
  width: 1518px;
  height: 40px;
  background-color: #F9F9F9;
  padding-top: 1%;
  margin-top: 3.5%;
}
.h {
  margin-left: 25%;
  display: inline;
  margin-top: 15%;
  margin-bottom: 0%;
}
#cur  {
  background: #232732;
  padding-top: 1%;
  padding-bottom: 21px;
  padding-left: 3%;
  padding-right: 3%;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
h4 a {
  text-decoration:none;
  color: #232732;
}

.cat {
  margin-left: 50%;
}
h2 {
  margin-left: 30%;
}
    footer {
    padding: 20px;
    margin-top: 50px;
    color:white;
    background-color: #232732;
    text-align: center;
    height: 30px;
    border-top: #BFB367 7px solid;
    }
