{% extends 'shop/layout.html' %}

{% block head %}
  <title>Add coupon</title>

  <style>
    .add_coupon{
      margin-left:35%;
    }
    input[type="text"]{
      display: block;
      width :300px;
      margin-top: 20px;
      margin-bottom: 5px;
    } 
    input[type="submit"]
    {
      display: block;
      margin:20px;
      margin-left:12%;
      width:140px;
      height:30px;
      background-color :#232732;
      color: #BFB367 ;
      font-weight:bold;
    }
    input[type="submit"]:hover,
    .deactivate:hover{
      cursor: pointer;
      color: #FFF;
    }
    .coupons{
      margin: 10px;
      border: #BFB367 4px solid;;
    }
    .deactivate{
      width:120px;
      height:30px;
      background-color :#232732;
      font-weight:bold; 
    }
    .deactivate a{
      color: #BFB367;
      text-decoration: none;
    }
    .deactivate a:hover{
      color: #FFF;
    }
  </style>
{% endblock %}

{% block name %}Add coupon{% endblock %}

{% block body %}
  <div class="add_coupon" >
    <form action="{% url 'addcoupon' %}" method="POST">
      {% csrf_token %}
      <input type="text" placeholder="Coupon name" name="name">
      <input type="text" placeholder="Discount percentage" name="discount">
      <input type="submit" value="Generate coupon">
    </form>
  </div>
  {% if success %}
  <div style="text-align: center; margin-bottom: 8px;"><strong style="color:green; margin:6%;">{{ message }}</strong></div>
  {% else %}
  <div style="text-align: center; margin-bottom: 8px;"><strong style="color:red; margin:6%;">{{ message }}</strong></div>
  {% endif %}
{% endblock %}