{% extends 'shop/layout.html' %}

{% block head %}
  <title>Add coupon</title>

  <style>
    .add_coupon{
      margin-left:35%;
    }
    input[type="text"]{
      display: block;
      width :300px;
      margin-top: 20px;
      margin-bottom: 5px;
    } 
    input[type="submit"]
    {
      display: block;
      margin:20px;
      margin-left:12%;
      width:120px;
      height:30px;
      background-color :#232732;
      color: #BFB367 ;
      font-weight:bold;
    }
    input[type="submit"]:hover,
    .deactivate:hover{
      cursor: pointer;
      color: #FFF;
    }
    .coupons{
      margin: 10px;
      border: #BFB367 4px solid;;
    }
    .deactivate{
      width:120px;
      height:30px;
      background-color :#232732;
      font-weight:bold; 
    }
    .deactivate a{
      color: #BFB367;
      text-decoration: none;
    }
    .deactivate a:hover{
      color: #FFF;
    }
  </style>
{% endblock %}

{% block name %}Add coupon{% endblock %}

{% block body %}
  <div class="add_coupon">
    <form action="{% url 'addcoupon' %}" method="POST">
      {% csrf_token %}
      <input type="text" placeholder="Coupon name:..." name="name">
      <input type="text" placeholder="Coupon code:..." name="code">
      <input type="text" placeholder="Discount percentage:..." name="discount">
      <input type="submit" value="Add coupon">
    </form>
  </div>
  
  {% if coupons %}
  <div class="coupons">
    <h2 style="text-align: center;">Your active coupons</h2>
    {% for coupon in coupons %}
    <ul>
      <li>
      <p style="display: inline; margin-right: 15px;">Name: {{coupon.name}}</p>   
      <p style="display: inline; margin-right: 15px;">Code: {{coupon.code}}</p>  
      <p style="display: inline; margin-right: 15px;">Discount: {{coupon.discount}}%</p>
      <button class="deactivate"><a href="{% url 'deactivatecoupon' coupon.code %}">Deactivate</a></button>
      </li>
    </ul>
    {% endfor %}
  </div>
  {% endif %}
{% endblock %}
