{% extends 'shop/layout.html' %}
{% load mathfilters %}
{% block head %} 
  <title>My Products</title>
  <style>
    #items
   {
     margin-left: 40px;
     overflow: auto;
   }

   .item
   {
    float:left;
    width:700px;
    background-color:white;
    border:5px solid #BFB367;
    margin:3px;
    
   }
   .item a{
        color:black;
        text-decoration: none;
    }
    .item a:hover{
        color:#BFB367;
    }
   .itemscontainer
   {
    border:navy;
   }

   .item p
    {
        color:#232732;
        font-size:17px;
        position:relative;
        top:17px;
        margin:1px;
    }
    .item img
    {
        float:left;
        height:135px;
        margin-right:5px;
    }
    .total
    {
      font-size:30px;
      font-weight:bold;
      color:#232732;
      width:680px;
      background-color:white;
      border:5px solid #BFB367;
      margin:23px 43px;
      padding-bottom: 10px;
      text-align: center;
    }
    a [href="Cart.html"]
   {
    color:#BFB367;
   }
   .count{
    display:inline;
    bottom:-17px; 
    position:relative; 
    margin-left:2px;
    width:25px;
    margin-bottom: 5px; 
   }
  </style>
  <link rel="stylesheet" href="../static/users/wishlist.css">
{% endblock %}

{% block name %}My Products{% endblock %}

{% block body %}
  
  {% if products %}
  <div id="items">
    <div class="itemscontainer">                        
        {% for product in products %}
        <div class="item" title="{{ product.name }}">
          <div style="overflow: auto;">
            <img src="{{ product.image.url }}" height="135" width="135"> 
            <p style="font-size:25px; font-weight:bold; position:relative; top:5px;"><a href="{% url 'productpage' product.id %}">Product name : {{ product.name }}</a></p>
            <p><span style="font-weight:bold;">Price : </span> {{product.price|mul:currency_ratio|floatformat:2}}{{currency_symbol}}</p>
            <p><span style="font-weight:bold;">Description : </span> {{product.description}}</p>
          </div>
          <div style="display: flex; ">
            <div style="margin:auto 5em">
              <button class="deactivate"><a href="{% url 'editproduct' product.id %}">Edit</a></button>
            </div>
            <div style="margin:auto 5em">
              <button class="deactivate"><a href="{% url 'removefromshop' product.id %}">Remove</a></button>
            </div>
          </div>
        </div>
       
        {% endfor %} 
    </div>
  </div>
  {% else %}
  <p style="font-size: 2.5rem; text-align: center;">
      Your shop doesn't have any products yet
  </p>
  {% endif %}
{% endblock %}
