{% extends 'shop/layout.html' %}

{% block head %}
  <title>Edit Product</title>

  <style>
        #info_edit{margin: auto;}
        #product_image{
            padding-top: 20px;
            margin: auto;
            width: 300px;
            height: 300px;
            border-radius: 20px;
        }
        .edit_product{
        margin-left: 25%;
        }
        form {
        /* margin-left: 20%; */
        /* text-align:center; */
        padding-left:15px;
        padding-right:10px;
        font-size:14pt;
        }
        h3{display: inline;}
        input[type="text"],
        input[type="number"]{
        width :300px;
        margin-top: 20px;
        margin-bottom: 5px;
        }
        textarea{
          width :300px;
          height: 300px;
          margin-top: 20px;
          margin-bottom: 5px;
        }
        input[type="file"]{
        margin-top: 20px;
        } 
        input[type="submit"]
        {
        display: block;
        margin:15px;
        margin-left: 200px;
        width:120px;
        height:30px;
        background-color :#232732;
        color: #BFB367 ;
        font-weight:bold;
        }
        input[type="submit"]:hover{
        cursor: pointer;
        color: #FFF;
        }
  </style>
{% endblock %}

{% block name %}Edit product{% endblock %}

{% block body %}
  <div id="info_edit">
    <div id="product_image">
        <img src="{{ product.image.url}}" alt="{{product.name}}" height="300" width="300" style="border-radius: 20px;">
    </div>
    <div class="edit_product">
        <form action="{% url 'editproduct' product.id %}" method="POST">
          {% csrf_token %}
          <div>
            <h3>Product Name:</h3>
            <input type="text" value="{{product.name}}" name="product" style="margin-left: 65px;">
          </div>
          <div>
            <h3>Remaining in stock:</h3>
            <input type="number" value="{{product.remaininginstock}}" name="remaining_in_stock" style="margin-left: 18px;">
          </div>
          <div>
            <h3>Price:</h3>
            <input type="number" step="10" value="{{product.price}}" name="price" style="margin-left: 150px;">
          </div>
          <div style="display:flex; flex-wrap:wrap;">
            <h3 style="display: inline-block; margin: 0px;padding: 0px;">Description:</h3>
            <textarea name="description" style="margin: 10px 90px;">{{product.description}}</textarea>
          </div>
          <!-- <div>
            <h3>Image:</h3>
            <input type="file" id="fileToUpload" name="image" value="{{product.image.url}}">
          </div> -->
          <input type="submit" value="Edit product">
        </form>
      </div>
  </div>
{% endblock %}


    
