{% extends 'shop/layout.html' %}
{% load mathfilters %}
{% block head %}
  <title>Edit Product</title>

  <style>
        #info_edit{margin: auto;}
        #product_image{
            padding-top: 20px;
            margin: auto;
            width: 300px;
            height: 300px;
            border-radius: 20px;
        }
        .edit_product{
        margin-left: 25%;
        }
        form {
        /* margin-left: 20%; */
        /* text-align:center; */
        padding-left:15px;
        padding-right:10px;
        font-size:14pt;
        }
        h3{display: inline;}
        input[type="text"],
        input[type="number"]{
        width :300px;
        margin-top: 20px;
        margin-bottom: 5px;
        }
        textarea{
          width :300px;
          height: 300px;
          margin-top: 20px;
          margin-bottom: 5px;
        }
        input[type="file"]{
        margin-top: 20px;
        } 
        #submit_btn
        {
        display: block;
        margin:15px;
        margin-left: 200px;
        width:120px;
        height:30px;
        background-color :#232732;
        color: #BFB367 ;
        font-weight:bold;
        }
        #submit_btn:hover{
        cursor: pointer;
        color: #FFF;
        }
        #submit_btn:disabled,
        #submit_btn[disabled]
        {
          color:#ccc;
          cursor:default;
        }
  </style>
{% endblock %}

{% block name %}Edit product{% endblock %}

{% block body %}
  <div id="info_edit">
    <div id="product_image">
        <img src="{{ product.image.url}}" alt="{{product.name}}" height="300" width="300" style="border-radius: 20px;">
    </div>
    <div class="edit_product">
        <form action="{% url 'editproduct' product.id %}" method="POST">
          {% csrf_token %}
          <div>
            <h3>Product Name:</h3>
            <input type="text" id="product_name" value="{{product.name}}" name="product" style="margin-left: 65px;">
          </div>
          <div>
            <h3>Remaining in stock:</h3>
            <input type="number" id="stock" value="{{product.remaininginstock}}" name="remaining_in_stock" style="margin-left: 18px;">
          </div>
          <div>
            <h3>Price</h3>
            <input type="number" id="price" step="0.01" value="{{product.price|mul:currency_ratio|floatformat:2}}" name="price" style="margin-left: 150px;">
            <br>
            <h3>in {{currency_name}}:</h3>
          </div>
          <div style="display:flex; flex-wrap:wrap; margin-top: 1em;">
            <h3 style="display: inline-block; margin: 0px;padding: 0px;">Description:</h3>
            <textarea id="description" name="description" style="margin: 10px 90px;">{{product.description}}</textarea>
          </div>
          <!-- <div>
            <h3>Image:</h3>
            <input type="file" id="fileToUpload" name="image" value="{{product.image.url}}">
          </div> -->
          <input id="submit_btn" type="submit" value="Edit product">
        </form>
      </div>
  </div>
  <script src="../../../static/shop/editproduct.js"></script>
{% endblock %}


    
