{% extends 'shop/layout.html' %}
{% block head %} 
  <title>Orders</title>
  <style>
    #items
   {
     margin-left: 40px;
     overflow: hidden;
   }

   .item
   {
    float:left;
    width:700px;
    background-color:white;
    border:5px solid #BFB367;
    margin:0.9em 3px;
    
   }
   .item a{
        color:black;
        text-decoration: none;
    }
    .item a:hover{
        color:#BFB367;
    }
   .item p
    {
        color:#232732;
        font-size:17px;
        margin-left: 8.5%;
    }
    .order_user_info{
      /* border:2px solid #BFB367; */
      /* margin:10px; */
      list-style-type:none;
    }
    .order_user_info li span{
      display:inline-block;
      margin:0.3em 0;
    }

    .order_product_info{
      border:2px #BFB367 solid;
      list-style-type:none;
      margin:0.7em;
      padding:0 1.7em;
    }
  </style>
{% endblock %}

{% block name %}Orders{% endblock %}

{% block body %} 
{% if orders %}
<div id="items">
  <div class="itemscontainer">  
        
    {% for order in orders %}
      <div class="item">
        <ul class="order_user_info">
          <li><span style="font-size: 1.5rem;">Customer: </span><span style="font-size: 20px;">&nbsp;{{order.user_orders.all.0.first_name}} {{order.user_orders.all.0.last_name}}</span></li>
          <li><span style="font-size: 1.5rem;">Customer's email: </span><span style="font-size: 20px;">&nbsp;{{order.user_orders.all.0.email}}</span></li>
          <li><span style="font-size: 1.5rem;">Customer's address: </span><br><span style="font-size: 20px;">&nbsp;{{order.user_orders.all.0.address}}</span></li> 
        </ul>
        {% for product in order.products.all %}
            <ul class="order_product_info">  
            {% if product.product.shop.name == shop.name %}
                <li><a href="{% url 'productpage' product.product.id %}"><span style="font-size: 1.5rem;">Product: </span><span style="font-size:20px;">{{product.product.name}}</span></a></li>
                <li><span style="font-size: 1.5rem;">Quantity: </span> <span style="font-size: 20px;">{{product.quantity}}</span></li>
              {% if order.coupon %}
                {% if order.coupon.shop %}
                  <li><span style="font-size: 1.3rem;">Coupon {{coupon.name}} with discount {{order.coupon.discount}}%</span></li>
                {% endif %}
              {% endif %}
        </ul>
              {% endif %}
            {% endfor %}
        <ul  style="list-style-type:none;">
            <li><span style="font-size: 1.5rem;">Status: </span><span style="font-size: 20px;">{% if order.is_delivered %}Delivered{% else %}In progress{% endif %}</span></li>
        </ul>
      </div>
    {% endfor %} 
  </div>
</div>
{% else %}
<div>
  <p style="font-size:2.5rem; text-align:center">You don't have any orders</p>
</div>
{% endif %}
{% endblock %}