@media(max-width:1028px)
{
    body{
        width: 100vw;
    }
    main{
        width: 100vw;
    }
    header{
        width: 100vw;
        display: block;
        height: 50px;
        .logo-burger-search{
            .logo{
                position: fixed;
                width: 56vw;
                left:calc(22vw + 9px);
                .BlackJack{
                    text-align: center;
                    width: 100%;
                }
                .official{
                    width:0;
                    visibility: hidden;
                }     
            }
            .burgers{
                position: fixed;
                top:7px;
            }
            .search-bar{
                visibility: hidden;
            }
        }
        nav{
            visibility: hidden;
        }
    }
    .sidemenu{
        visibility: hidden;   
    }
    .wrapper{
        &.grey-out{
            visibility: hidden;
        }
    }
    main{
        &.shrink{
            width:100%;
            margin-left:0;
        }
    }
    .mobile-nav{
        position: fixed;
        top:56px;
        left:0;
        width: 100vw;
        height: 100vh;
        opacity: 1;
        z-index:3;
        background-color: lighten($accent-color,5%);
        visibility: hidden;
        &.open{
            visibility: visible;
        }
        nav{
            position: fixed;
            text-align:center;
            height: 50%;
            top:15%;
            left:35vw;
            ul{
                padding:0;
                margin:0;
                li{     
                    list-style: none;
                    padding:1em 0.5em;
                    a{
                        font-size:6vw;
                        color:$primary-color;
                        text-decoration:none;
                        &:hover,&:focus{
                            color:white;
                        }
                    }
                }
            }
        }
    }
}