.buttonsContainer{
    display:flex;
    width:100vw;
    justify-content:space-evenly;
    align-items:center;
    flex-wrap:wrap;
}

#info form {
    flex-direction:column;
    text-align:left;
    padding-left:15px;
    padding-right:10px;
    font-size:14pt;
}


#info input,
#info select{
    width :300px;
    position: absolute;
    margin:0;
    left:300px;
    top:15px;
}

.info-button{
    font-weight:bold;
    padding:5px;
    padding-left: 20px;
    padding-right:20px;
    margin-top: 20px;
    float:right;
    margin-bottom: 5px; 
}

#ConfirmButton {
    margin-top:40px;
    margin-bottom:60px;
    width:90px;
    height:30px;
    background-color :#232732;
    color: #BFB367 ;
    font-weight:bold;
}
#ChangePassword {
    margin-top:40px; margin-bottom:60px;
    width:190px;
    height:30px;
    background-color :#232732;
    color: #BFB367 ;
    font-weight:bold;
}
#Become_a_seller{
    margin-top:40px; margin-bottom:60px;
    width:162px;
    height:30px;
    background-color :#232732;
    color: #BFB367 ;
    font-weight:bold
}
#ConfirmButton:hover,
#ChangePassword:hover,
#Become_a_seller:hover,
button[type="button"]:hover{
    cursor: pointer;
    color: #FFF;
}

.dropbtn {
    background-color: #4CAF50;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
    cursor: pointer;
}

.info-field{
    position: relative;
    padding-left: 0.5em;
    height:52px;
    &-name{
        position: absolute;
        left:30px;
        top:15px;
    }
}
.form-button{
    position: absolute;
    right: 15px;
    height: 22px;
    top: 15px;
    width: 20vw;
    min-width: 60px;
}

.dropdown-content {
    display:none;
    position: absolute;
    background-color: #232732;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 0;
}

.dropdown-content p {
    color: white;
    padding: 7px 5px;
    text-decoration: none;
    display: block;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.dropdown-content {
    right: 0;
}
button[type="button"]{
    max-width:140px;
    width:10vw;
    background :#232732;
    color: #BFB367 ;
    font-weight:bold;
}
#ChangePassword a,#Become_a_seller a{
    color:#BFB367 ;
    text-decoration:none;
}
#ChangePassword a:hover, #Become_a_seller a:hover{
    color:#fff ;
}

select{
    position: absolute;
    margin:0;
    left:300px;
}

@import 'dashboard_responsive';