header {
  position: fixed;
  background-color: #232732;
  width: 100%;
  color: #fff;
  border-bottom: #BFB367 6px solid;
  top: 0px;
  left: 0px;
  z-index: 1;
}

header a {
  text-decoration: none;
  color: #BFB367;
  text-transform: uppercase;
  font-size: 15pt;
}

header a:hover {
  color: white;
}

header nav {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.7em 0.7em;
}

header nav ul {
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline;
  padding: 1rem 1.2rem;
}

.logo-burger-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-burger-search .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-burger-search .logo .official {
  padding-top: 1.4em;
}

.logo-burger-search .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 30px - 20px - 30px - 352px - 523px);
  height: 22px;
  margin-top: 11px;
  margin-left: 10px;
  padding: 3px;
  padding-left: 6px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.logo-burger-search .search-bar.focused {
  background-color: #383e50;
  border: none;
  outline: 2px solid #BFB367;
  color: white;
}

.logo-burger-search .search-bar .fa {
  margin-top: 6px;
  font-size: 0.8rem;
}

.logo-burger-search .search-bar .search-field {
  width: 95%;
  margin-left: 2px;
  height: 22px;
  color: white;
  font-size: 1rem;
  font-family: 'Ubuntu', sans-serif;
  background: transparent;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.logo-burger-search .search-bar .search-field:focus {
  border: none;
  outline: none;
  color: white;
}

.burgers {
  margin: auto 1em;
}

.burgers:hover {
  cursor: pointer;
}

.burgers .burger {
  width: 20px;
  height: 3px;
  background-color: white;
  margin: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#BlackJack {
  font-size: 40px;
  color: white;
  text-transform: none;
}

#official {
  color: #BFB367;
  font-size: 1rem;
  text-transform: none;
}

.mobile-nav {
  visibility: hidden;
}

body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  font-family: 'Ubuntu', sans-serif;
}

.sidemenu {
  padding-right: 1.5em;
  background-color: #232732;
  border-right: 8px #BFB367 solid;
  text-align: left;
  text-decoration: none;
  position: fixed;
  z-index: 3;
  width: 200px;
  top: 52px;
  bottom: 0;
  left: -240px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sidemenu.shown {
  -webkit-transform: translate(240px);
          transform: translate(240px);
}

.sidemenu .dashboard {
  color: white;
  font-size: 1.8rem;
  margin: 0.5em 0.5em;
  display: block;
}

.sidemenu a {
  text-decoration: none;
  color: #BFB367;
  padding: 8px 30px;
  display: block;
  font-size: 16pt;
}

.sidemenu a:hover {
  color: white;
}

.sidemenu nav {
  text-align: left;
}

.sidemenu nav ul {
  padding: 0;
  margin: 0;
}

.sidemenu nav ul li {
  list-style: none;
  padding: 0 0.5em;
}

main {
  color: #232732;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 0;
  top: 50px;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main.shrink {
  width: calc(100% - 232px);
  margin-left: 232px;
}

.wrapper {
  position: fixed;
  top: 52px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333333;
  opacity: 40%;
  visibility: hidden;
  z-index: 2;
}

.wrapper.grey-out {
  visibility: visible;
}

#upperinfo {
  text-align: center;
  border-bottom: solid 8px #BFB367;
}

#info {
  font-weight: bold;
}

@media (max-width: 1028px) {
  body {
    width: 100vw;
  }
  main {
    width: 100vw;
  }
  header {
    width: 100vw;
    display: block;
    height: 50px;
  }
  header .logo-burger-search .logo {
    position: fixed;
    width: 56vw;
    left: calc(22vw + 9px);
  }
  header .logo-burger-search .logo .BlackJack {
    text-align: center;
    width: 100%;
  }
  header .logo-burger-search .logo .official {
    width: 0;
    visibility: hidden;
  }
  header .logo-burger-search .burgers {
    position: fixed;
    top: 7px;
  }
  header .logo-burger-search .search-bar {
    visibility: hidden;
  }
  header nav {
    visibility: hidden;
  }
  .sidemenu {
    visibility: hidden;
  }
  .wrapper.grey-out {
    visibility: hidden;
  }
  main.shrink {
    width: 100%;
    margin-left: 0;
  }
  .mobile-nav {
    position: fixed;
    top: 56px;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    z-index: 3;
    background-color: #2e3341;
    visibility: hidden;
  }
  .mobile-nav.open {
    visibility: visible;
  }
  .mobile-nav nav {
    position: fixed;
    text-align: center;
    height: 50%;
    top: 15%;
    left: 35vw;
  }
  .mobile-nav nav ul {
    padding: 0;
    margin: 0;
  }
  .mobile-nav nav ul li {
    list-style: none;
    padding: 1em 0.5em;
  }
  .mobile-nav nav ul li a {
    font-size: 6vw;
    color: #BFB367;
    text-decoration: none;
  }
  .mobile-nav nav ul li a:hover, .mobile-nav nav ul li a:focus {
    color: white;
  }
}
