{% extends 'users/layout.html' %}

{% block title %} Product {% endblock %}

{% block body %}
    <form action="{% url 'products:search' %}" method="GET">
        <input type="text" name="q" placeholder="Search">
        <input type="submit" value="Search">
    </form>
    {% for product in products %}
    <hr>
    <h2>Product: {{ product.name }}</h2>
    <h2>Price: {{ product.price }}</h2>
    <img src="{{ product.image.url }}" alt="{{ product.name }}" style="height: 200px; width: 200px;"> 
    {% endfor %}
{% endblock %}