{% extends 'products/layout.html' %}
{% load static %}
{% load mathfilters %}
{% block title%}{{ product.name }}{% endblock %}
{% block head %}
      <link rel="stylesheet" href="{% static 'products/styles.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block body%}
<header>
  <div class="Container">
      <div id="header">
    <span id="BlackJack">BlackJack</span>
    <span id="official">The Official online store </span>
 </div>

<nav> <ul style="margin-top:12px;"> 
  <li> <a href="{% url 'home' %}"> Home </a> </li>
  <li> <a href="{% url 'userdashboard'%}"> Profile </a></li>
  <li> <a href="{% url 'contactus' %}"> Contact Us </a></li>
  {% if user.is_authenticated %}
  <li> <a href="{% url 'logout' %}">  Logout  </a> </li>
  {% else %}
  <li> <a href="{% url 'login' %}">  Login  </a> </li>
  {% endif %}
</ul> </nav>
</header>
    <div class="product-container">
    <div class="product">
      <div class="info">
        <div class="info-text">
          <h1>{{ product.name }}</h1>
          <h2>Price: {{ product.price|mul:currency_ratio|floatformat:2 }} {{currency_symbol}}</h2>
          <h2>Quantity: {{ product.remaininginstock }}</h2>
          <h2>Rating: {{ rating }}</h2>
        </div>
        <form action="{% url 'productpage' product.id %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="productid" value="{{ product.id }}">
          <button type="submit" name="add_to_wishlist" class="wishlist" 
          {% if in_wishlist or is_user_product%}
            disabled style="color:#ccc; cursor:default;"
          {% endif %}
          >
          <i class="fa fa-heart"></i> Add to wishlist</button>
        </form>
        <form action="{% url 'productpage' product.id %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="productid" value="{{ product.id }}">
          <button type="submit" name="add_to_cart" class="cart"
          {% if in_cart or product.remaininginstock == 0 or is_user_product %}
            disabled style="color:#ccc; cursor:default;"
          {% endif %}
          >
          <i class="fa fa-shopping-cart"></i> Add to Cart</button>
        </form>
      </div>
      <div class="image">
        <img src="{{ product.image.url }}" alt="{{ product.name }}" id="productimage">
      </div>
    </div>
    {% if product.remaininginstock == 0 %}
      <div style="color:red; font-size: 1.5rem; text-align: center;">
          <br>
          Product is out of stock!
      </div>
    {% endif %}      
    </div>
<div class="Dis"  style="width: 97.5%;">
  <h6>Product Discription</h6>
  <p id="description">{{product.description}}</p>
</div>
<div class="Rev">
<form action="{% url 'productpage' product.id %}" method="POST">
  {% csrf_token %}
<h6>Write a Review</h6>
<textarea name="review" id="review_text" placeholder="Write your review here"></textarea>
<!-- <div class="rating"> <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label> <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label> <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label> <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
</div> -->
<div class="rate">
  <input type="radio" id="star5" name="rate" value="5" />
  <label for="star5" title="text">5 stars</label>
  <input type="radio" id="star4" name="rate" value="4" />
  <label for="star4" title="text">4 stars</label>
  <input type="radio" id="star3" name="rate" value="3" />
  <label for="star3" title="text">3 stars</label>
  <input type="radio" id="star2" name="rate" value="2" />
  <label for="star2" title="text">2 stars</label>
  <input type="radio" id="star1" name="rate" value="1" />
  <label for="star1" title="text">1 star</label>
</div>
<input type="submit" name="add_review" id="review_btn" class="review_btn" disabled>
</form>
</div>
<div class="user-reviews">
  <h6>User Reviews</h6>
  {% if reviews %}
  {% for review in reviews%}
    <div class="single-review">
    <p>By <em style="font-size: 1.1em;">{{ review.user.username }}</em></p>
    <img src="../../static/products/{{ review.stars|floatformat:0 }}.png" alt="{{ review.stars|floatformat:0 }}">
    <p>{{ review.text }}</p>
    </div>
  {% endfor %}
  {% else %}
    <p style="font-size: 1.5rem; text-align: center;">There are no reviews for this product.</p>
  {% endif %}
</div>

{% if related_len > 0 %}
<div class="Related">
  <h6>Related Products</h6>
  {% for p in related %}
  <div class="v">
    <img src="{{ p.image.url}}" alt="{{p.name}}" class="re">
    <h5><a class="p_name" href="{% url 'productpage' p.id %}">{{p.name}}</a></h5>
    <h5>{{p.price|mul:currency_ratio|floatformat:2}} {{currency_name}}</h5>
    <!-- <button type="submit" class="art">Add to Cart</button> -->
   </div>
  {% endfor %}
  <!-- <div class="v">
    <img src="" class="re">
    <h5> Product Name</h5>
    <h5>price</h5>
    <button type="submit" class="art">Add to Cart</button>
   </div>
   <div class="v">
     <img src="" class="re">
     <h5> Product Name</h5>
     <h5>price</h5>
     <button type="submit" class="art">Add to Cart</button>
    </div>
    <div class="v">
      <img src="" class="re">
      <h5> Product Name</h5>
      <h5>price</h5>
      <button type="submit" class="art">Add to Cart</button>
     </div> -->
    </div>
{% endif %}

    {% if not is_user_product and not user_has_review%}
      <script>
        var review=document.getElementById('review_text');
        var submit=document.getElementById('review_btn');
        review.addEventListener('input',function (){
          console.log(review.value.length);
          if (review.value.length>30){
            submit.disabled=false;
          }
          else
            submit.disabled=true;
        })
      </script>
    {% endif %}
    {% endblock %}

  